<div>
    <button
        (click)="generatePersonality()">
        Generate Personality
    </button>
</div>
<div>
    <p>
        <label for="">Trust: </label>
        <span>{{ trust }}</span>
    </p>
    <p>
        <label for="">Outlook: </label>
        <span>{{ outlook }}</span>
    </p>
    <p>
        <label for="">Decision: </label>
        <span>{{ decision }}</span>
    </p>
    <p>
        <label for="">Conscientiousness: </label>
        <span>{{ conscientious }}</span>
    </p>
    <p>
        <label for="">Empathy: </label>
        <span>{{ empathy }}</span>
    </p>
    <p>
        <label for="">Courage: </label>
        <span>{{ courage }}</span>
    </p>
</div>