<label> Name: 
    <input [(ngModel)]="character.name" placeholder="Name">
</label>

<label> Origin One:
    <input [(ngModel)]="character.originOne" placeholder="Origin One">
</label>
<label> Origin Two:
    <input [(ngModel)]="character.originTwo" placeholder="Origin Two">
</label>
<p>
    Traits
</p>
<label> Trait:
    <input [(ngModel)]="character.trait" placeholder="Trait">
</label>
<p>
    Powers
</p>
<label> Power:
    <input [(ngModel)]="character.power" placeholder="Power">
</label>

<p>
    Ability scores
</p>
<label> Strength:
    <input [(ngModel)]="character.strength" placeholder="Strength">
</label>
<label> Dexterity:
    <input [(ngModel)]="character.dexterity" placeholder="Dexterity">
</label>
<label> Constitution:
    <input [(ngModel)]="character.constitution" placeholder="Constitution">
</label>
<label> Intelegence:
    <input [(ngModel)]="character.intelegence" placeholder="Intelegence">
</label>
<label> Wisdom:
    <input [(ngModel)]="character.wisdom" placeholder="Wisdom">
</label>
<label> Charisma:
    <input [(ngModel)]="character.charisma" placeholder="Charisma">
</label>

<p>
    Skills
</p>
<label> Skill:
    <input [(ngModel)]="character.skill" placeholder="Skill">
</label>

<p>
    Gear
</p>
<label> Gear:
    <input [(ngModel)]="character.gear" placeholder="Gear">
</label>

<label> Hitpoints:
    <input [(ngModel)]="character.hitpoints" placeholder="Hitpoints">
</label>
<label> Bloodied:
    <input [(ngModel)]="character.bloodied" placeholder="Bloodied">
</label>
<label> Second Wind:
    <input [(ngModel)]="character.secondWind" placeholder="Second Wind">
</label>

<label> Speed:
    <input [(ngModel)]="character.speed" placeholder="Speed">
</label>

<label> Armour Class:
    <input [(ngModel)]="character.armourClass" placeholder="Armour Class">
</label>

<label> Fortitude:
    <input [(ngModel)]="character.fortitude" placeholder="Fortitude">
</label>

<label> Reflex:
    <input [(ngModel)]="character.reflex" placeholder="Reflex">
</label>

<label> Will:
    <input [(ngModel)]="character.will" placeholder="Will">
</label>

<label> Initiative:
    <input [(ngModel)]="character.initiative" placeholder="Initiative">
</label>

<p>
    Attacks
</p>
<label> Attack:
    <input [(ngModel)]="character.attack" placeholder="Attack">
</label>